<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="conatiner-fluid justify-content-end">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">ANOJ</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto justify-content-end">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Features</a>
              <a class="nav-item nav-link" href="#">Docs</a>
            </div>
          </div>
        </nav>
  </div>










    <form action="/" method="POST">
      <div class="container-fluid">
        <div class="row g-2">
          <div class="col-lg-8">
              <div class="row g-2">
                  <div class="col-lg-2 language-text">
                      <span>Language</span>
                  </div>
                  <div class="col-lg-10 ml-auto language-text">
                      <input type="hidden" name="language" style="display: none;">
                      <label class="radio-inline"><input type="button" value="C++" id="cpp" class="btn btn-primary"></label>
                      <label class="radio-inline"><input type="button" value="Python" id="python" class="btn btn-primary"></label>
                  </div>
              </div>
              
              
          </div>
          <div class="col-lg-4">
              <div class="row g-2">
                  <div class="col-lg-4">
                      <button type="submit" class="btn btn-success">Run</button>
                  </div>
                  <div class="col-lg-8">
                      <span>Verdict: </span>
                      <% if(verdict) {%>
                        <span><%=verdict%></span>
                      <%}%>
                  </div>
              </div>
          </div>
      </div>
  
        <div class="row g-2">
          <div class="col-lg-8">
            <!-- <div class="p-3 border bg-light">Custom column padding</div> -->
  
            <div class="col-12">
              <input type="hidden" name="code" style="display: none;">
              <div class="editor-container">
<pre id="editor">
<% if (code) {%>
<%=code %>
<%}%>
</pre>
              </div>
            </div>
            <div class="col-12">
              <div class="input-group stdin" style="min-height: 7.5rem;">
                <div class="input-group-prepend stdin-pre">
                  <span class="input-group-text" style="min-height: 7.5rem;">STDIN</span>
                </div>
                <textarea class="form-control" aria-label="STDIN" name="stdin"><% if (input) {%><%= input %><%}%></textarea>
              </div>
            </div>
          </div>
  
  
  
          <div class="col-lg-4">
            <!-- <div class="p-3 border bg-light">Custom column padding</div> -->
            <div class="row gx-2 gy-3">
              <div class="col-12">
                <div class="input-group exp">
                  <div class="input-group-prepend exp-prep">
                    <span class="input-group-text">EXPECTED</span>
                    <textarea class="form-control" name="expected" aria-label="EXPECTED" style="min-height: 16rem;"><% if (expected) {%><%= expected %><%}%></textarea>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group exp">
                  <div class="input-group-prepend exp-prep">
                    <span class="input-group-text">RECIEVED</span>
                    <textarea class="form-control" name="recieved" aria-label="RECIEVED" style="min-height: 16rem;"><% if (recieved) {%><%= recieved %><%}%></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </form>






    <script src="js/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="js/src/ext-language_tools.js"></script>
    <script src="js/script.js"></script>
</body>
</html>