<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Online Judge</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- navbar -->
    <div class="conatiner-flex">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ANOJ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Docs</a>
              </div>
            </div>
          </nav>
    </div>


    <!-- Middle Area -->

    <form action="/" method="POST">
    
        <div class="container-flex">
            <div class="row">
                <div class="col-lg-8 top-container">
                    <div class="row">
                        <div class="col-lg-2 language-text">
                            <span>Language</span>
                        </div>
                        <div class="col-lg-10 ml-auto language-text">
                            <label class="radio-inline"><input type="radio" value="C++" name="language" checked>C++</label>
                            <label class="radio-inline"><input type="radio" value="Python" name="language">Python</label>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-success">Run</button>
                        </div>
                        <div class="col-lg-8 verdict-text">
                            <span>Verdict</span>
                            <% if(verdict) {%>
                              <span><%=verdict%></span>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-flex">
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-lg-12 editor-container">
                        <input type="hidden" name="code" style="display: none;">
                        
<pre id="editor">
<% if (code) {%>
<%=code %>
<%}%>
</pre>
                    </div>
                    <div class="col-lg-12 stdin-container">
                        <div class="row">
                            <div class="col-lg-1 stdin-text">
                                <span>STDIN</span>
                            </div>
                            <div class="col-lg-11 stdin-container">
                                <textarea name="input" class="form-control " style="min-height:100%;"><% if (input) {%><%= input %><%}%></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-12 expected-container form-control expected-container-new">
                        <div class="col-lg-12 expected-output-text">
                            <span>Expected Output</span>
                        </div>
                        <div class="col-lg-12 expected-container">
                            <textarea name="expected" class="form-control" style="min-height: 79.5%;min-width: 100%;"><% if (expected) {%><%= expected %><%}%></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 expected-container form-control expected-container-new">
                        <div class="col-lg-12 expected-output-text">
                            <span>Recieved Output</span>
                        </div>
                        <div class="col-lg-12 expected-container">
                            <textarea name="recieved" class="form-control" style="min-height: 79.5%;min-width: 100%;"><% if (recieved) {%><%= recieved %><%}%></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </form>



    <script src="js/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="js/script.js"></script>
</body>
</html>